/* CSS Document */
td{font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;}
.td1{font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;font-weight:normal;}
.more{font-family: Tahoma, Verdana, Arial, trebuchet MS, Tahoma ; font-size:11px; color:#000000;font-weight:normal; text-decoration:underline}
/*.td4{font-family: Verdana, Arial, trebuchet MS ; font-size:9px; color:#000000;font-weight:bold;}
.td6{font-family: Verdana, Arial, trebuchet MS; font-size:9px; color:#716f6f;}*/
.bold{font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;font-weight:bold;}
.bold1{font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:12px; color:#ffffff;font-weight:bold;}
.bold2{font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#ffffff;font-weight:bold;}
.bold3{font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:12px; color:#000000;font-weight:bold;}
.copyrights{font-family:  Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#ffffff;font-weight:normal;}
.gridfixedheader{font-weight: bold; font-family: Tahoma, Arial,Verdana,;font-size:11px; color:#ffffff}

.div{font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;padding-left:5px;padding-right:5px}

.td_blank{font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#ffffff;line-height:18px;font-weight:bold;padding-left:5px;}
.td_blank1{font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;padding-left:5px;}
.td_blank2{font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#ffffff;line-height:18px;font-weight:bold;}
.td_blank3{height:5}
.td_bg{background-color:#F3FDFC;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;}
.td_bg1{background-color:#FFFFF3;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;}
.td_bg1a{background-color:#F2FDFB;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;}
.td_bg2{background-color:#A1D0CA;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;}
.td_bg2a{background-color:#A1D0CA;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;padding-left:7px}
.td_bg3{background-color:#A1D0CA;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;}
.td_bg4{background-color:#A1D0CA;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;padding-right:7px}
.td_bg5{background-color:#F3FDFC;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;padding-right:20px}
.td_bg5a{background-color:#A1D0CA;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;padding-right:20px}
.td_bg6{background-color:#D7E8D8;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;padding-left:7px}
.td_bg7{background-color:#A1D0CA;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;padding-left:7px}
.td_bg_selected{background-color:#DCEFED;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;padding-right:0px}
.td_bg_selected1{background-color:#D5E1F5;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px; padding-left:7px;}
.td_bg_selected2{background-color:#F2FDFB;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;padding-left:7px}
.td_bg_selected3{background-color:#2557AD;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#ffffff;line-height:18px;padding-left:7px; font-weight:bold}
.td_bg_selected3a{background-color:#A1D0CA;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px}
.td_bg_selected4{background-color:#C9E0CC;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;padding-left:20px}
.td_bg_selected5{background-color:#F2FDFB;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;padding-left:20px}

.textField {width:55px;height:15px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;}
.textField1 {width:160px;height:15px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;}
.textField2 {width:30px;height:15px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;}
.textField3 {width:300px;height:15px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;}
.textField4 {width:115px;height:15px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;}
.textField5 {width:105px;height:15px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;}
.textField6 {width:88px;height:15px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;}
.textField12 {width:133px;height:15px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555}
.textField7 {width:133px;height:15px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;}
.textField8 {width:280px;height:15px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;}
.textField9 {width:600px;height:15px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;}
.textFieldBig {width:200px;height:15px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;}
.AccountTextField {width:344px;height:20px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;}

.textArea {width:345px;height:173px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#DCE2E0;}
.textArea1 {width:309px;height:173px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#ECF6F5;Background-color:#ECF6F5;}
.textAreaBig {width:200px;height:50px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;Background-color:#FFFFFF;}
.textArea2 {width:309px;height:163px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#ECF6F5;Background-color:#ECF6F5;}
.textArea3 {width:160px;height:50px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;Background-color:#ffffff;}
.textArea4 {width:300px;height:74px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;Background-color:#ffffff;}
.textArea5 {width:160px;height:250px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;Background-color:#ffffff;}
.textArea6 {width:230px;height:50px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;Background-color:#ffffff;}
.textArea7 {width:140px;height:90px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;Background-color:#ffffff;}
.textArea8 {width:270px;height:74px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;Background-color:#ffffff;}
.textArea9 {width:350px;height:74px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;Background-color:#ffffff;}
.textArea10 {width:115px;height:50px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#DCE2E0;}

.ListMenu {width:160px;height:230px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;Background-color:#ffffff;}
.ListMenu1 {width:140px;height:130px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;Background-color:#ffffff;}
.ListMenu2 {width:80px;height:90px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;Background-color:#ffffff;}
.ListMenu3 {width:140px;height:100px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;}
.AccountTextArea {width:340px;height:50px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;Background-color:#ffffff;}
.FileField {width:344px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#555555;}

.dropdown {width:63px;height:20px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#333333;}
.dropdown1 {width:80px;height:20px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#333333;}
.dropdown2 {width:100px;height:20px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#333333;}
.dropdown3 {width:160px;height:20px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#333333;}
.dropdown4 {width:230px;height:20px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#333333;}
.dropdown5 {width:140px;height:20px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#333333;}
.dropdown6 {width:344px;height:20px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#333333;}
.dropdown7 {width:115px;height:20px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#333333;}
.dropdown8 {width:50px;height:20px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#333333;}
.dropdown9 {width:200px;height:20px;font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#333333;}

.listbox {font-size:11px;font-family:Tahoma;border: 1px solid;border-color:#333333;}

.button{}


A.td_back{font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;font-weight:normal; backround-image:../softimages/date_bg.jpg}
A.td_back{font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;font-weight:normal; backround-image:../softimages/date_bg1.jpg}

A.Link{color: #000000; text-decoration:none;font-weight:normal;font-family: Tahoma, Arial,Verdana,;font-size:11px;}
A.Link:hover {color: #000000; text-decoration:underline;font-weight:normal;font-family: Tahoma, Arial,Verdana,;font-size:11px;}

A.LinkSmall{color: #000000; text-decoration:none;font-weight:normal;font-family: Tahoma, Arial,Verdana,;font-size:10px;}
A.LinkSmall:hover {color: #000000; text-decoration:underline;font-weight:normal;font-family: Tahoma, Arial,Verdana,;font-size:10px;}

A.LinkBold{color: #ffffff; text-decoration:none;font-weight:bold;font-family: Tahoma, Arial,Verdana,;font-size:11px;}
A.LinkBold:hover  {color: #ffffff; text-decoration:underline;font-weight:bold;font-family: Tahoma, Arial,Verdana,;font-size:11px;}

A.LinkBoldBlk{color: #000000; text-decoration:none;font-weight:bold;font-family: Tahoma, Arial,Verdana,;font-size:11px;}
A.LinkBoldBlk:hover  {color: #000000; text-decoration:underline;font-weight:bold;font-family: Tahoma, Arial,Verdana,;font-size:11px;}

A.footerLinks1{color: #ffffff; text-decoration:none;font-weight:normal;font-family: Tahoma, Arial,Verdana,;font-size:11px;}
A.footerLinks1:hover {color: #ffffff; text-decoration:underline;font-weight:normal;font-family: Tahoma, Arial,Verdana,;font-size:11px;}
	
A.L1{color: #716f6f; text-decoration:none;font-weight:normal;font-family: Tahoma, Arial, Verdana,;font-size:11px;}
A.L1:hover {color: #716f6f; text-decoration:underline;font-weight:normal;font-family: Tahoma, Arial, Verdana,;font-size:11px;}
A.L1:active {color: #716f6f; text-decoration:none;font-weight:normal;font-family: Tahoma, Arial, Verdana,;font-size:11px;}
A.L1:visited {color: #716f6f; text-decoration:none;font-weight:normal;font-family: Tahoma, Arial, Verdana,;font-size:11px;}


.td_bg_selected11qqqq
{
	  display : inline;
	  font-weight:normal;
	  font-family: Verdana, Arial, trebuchet MS ;
	  font-size:11px;
	  color:black;
      background:url(../softimages/shade.gif) top left repeat-x;
	  line-height:15px;
	  padding: 3px 7px;
      margin-right  : 3px;
      border: solid 1px #777788;
	  }

.td_bg_sel3qqqq
{
    border-bottom-color : white;
    background-color:White;
    line-height:15px;
    display : inline;
	font-weight:normal;
	color:Black;
	font-family: Verdana, Arial, trebuchet MS ;
	font-size:11px;
	padding: 3px 7px;
    border-top: solid 1px #777788;
    border-left: solid 1px #777788;
    border-right: solid 1px #777788;
}




.td_bg_sel3
{
	  
	  display : inline;
	  font-weight:normal;
	  font-family: Verdana, Arial, trebuchet MS ;
	  font-size:11px;
	  color:black;
      border-bottom-color : white;
      background :url(../softimages/shade.gif) top left repeat-x;
	  line-height:15px;
	  padding: 3px 7px;
      margin-right  : 3px;
      border: solid 1px #777788;
	  }

.td_bg_selected11
{
    border-bottom-color : white;
    line-height:15px;
    display : inline;
	font-weight:normal;
	color:Black;
	background:url(../softimages/shade1.gif) top left repeat-x;
	font-family: Verdana, Arial, trebuchet MS ;
	font-size:11px;
	padding: 3px 7px;
    border-top: solid 1px #777788;
    border-left: solid 1px #777788;
    border-right: solid 1px #777788;
 }





.fieldset1 {border: 1px solid;border-color:#5BB3A8; background-color:#DCEFED}




/*new css*/

.tab_pad{padding-left:10px; padding-right:10px; padding-top:10px}
.tab_pad_1{padding-left:7px; padding-right:1px; padding-top:5px}
.header{ background-color:#F2F2F2}
.header_1{ background-color:#FCFCFC}
.menu_bg{ background-color:#AECAEF
	/*background-image: url(../softimages/menu_bg.jpg);*/
}
.submenubg{background-color:#2557AD}
.padl5{padding-left:15px}


.textField_4 {width:25px;height:15px;font-size:11px;font-family:Tahoma; border:1px solid #b9c9da;color:#333333;	background-image: url(../softimages/bg_01.gif);	background-repeat: repeat;	background-position: left top; padding-left:4px;}

.textField_1 {width:20px;height:15px;font-size:11px;font-family:Tahoma; border:1px solid #b9c9da;color:#333333;	background-image: url(../softimages/bg_01.gif); text-align:right;	background-repeat: repeat;	background-position: left top; padding-left:4px;}
.textField_5 {width:110px;height:15px;font-size:11px;font-family:Tahoma; border:1px solid #b9c9da;color:#333333;	background-image: url(../softimages/bg_01.gif);	background-repeat: repeat;	background-position: left top; padding-left:4px;}

.textField_2 {width:78px;height:15px;font-size:11px;font-family:Tahoma; border:1px solid #b9c9da;color:#333333;	background-image: url(../softimages/bg_01.gif);	background-repeat: repeat;	background-position: left top; padding-left:4px;}
.textField_3 {width:160px;height:15px;font-size:11px;font-family:Tahoma; border:1px solid #b9c9da;color:#333333;	background-image: url(../softimages/bg_01.gif);	background-repeat: repeat;	background-position: left top; padding-left:4px;}


.dropdown_1 {width:80px;height:20px;font-size:11px;font-family:Tahoma;border:1px solid #b9c9da;line-height:9px;color:#333333;	background-image: url(../softimages/bg_01.gif);	background-repeat: repeat;	background-position: left top; padding-left:4px;}
.dropdown_2 {width:160px;height:20px;font-size:11px;font-family:Tahoma;border:1px solid #b9c9da;line-height:9px;color:#333333;	background-image: url(../softimages/bg_01.gif);	background-repeat: repeat;	background-position: left top; padding-left:4px;}

.textArea_1 {width:250px;height:50px;font-size:11px;font-family:Tahoma;border:1px solid #b9c9da;line-height:11px;color:#333333;	background-image: url(../softimages/bg_02.gif);	background-repeat: repeat;	background-position: left top; padding-left:4px;}
.textArea_2 {width:160px;height:50px;font-size:11px;font-family:Tahoma;border:1px solid #b9c9da;line-height:11px;color:#333333;	background-image: url(../softimages/bg_02.gif);	background-repeat: repeat;	background-position: left top; padding-left:4px; padding-left:4px;}


A.Link_1{color: #ffffff; text-decoration:underline;font-weight:bold;font-family: Tahoma, Arial,Verdana,;font-size:11px;}
A.Link_1:hover {color: #ffffff; text-decoration:none;font-weight:bold;font-family: Tahoma, Arial,Verdana,;font-size:11px;}

A.Link_2{color: #000; text-decoration:underline;font-family: Tahoma, Arial,Verdana,;font-size:11px;}
A.Link_2:hover {color: #000; text-decoration:none;font-family: Tahoma, Arial,Verdana,;font-size:11px;}

.red{font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#FF8A00;line-height:18px;}

.txt_header { font-family:Tahoma, Verdana, Arial; font-weight:bold; color:#3665BC}
.txt_header_1 { font-family:Tahoma, Verdana, Arial; font-weight:bold; color:#FF8A00}

.bt{
	background-image: url(../softimages/BT_bg.gif);
	background-repeat: repeat;
	font-size: 11px;
	font-weight: bold;
	font-family:Tahoma, Verdana, Arial;
	color: #FFFFFF;
	background-position: left top;
	border:0px;
	margin:0;
	height:20px;
	padding-right:2px;
	padding-left:2px;
	padding-top:3px;
	padding-bottom:4px;
}


.bt1{
	background-image: url(../softimages/BT_bg2.gif);
	background-color: transparent;
	background-repeat:no-repeat;
	background-position: right bottom;
	font-size: 11px;
	font-weight: bold;
	font-family:Tahoma, Verdana, Arial;
	color: #FFFFFF;
}
#bt2{
	 background: transparent url(../softimages/BT_bg1.gif) no-repeat left top;
	background-image: url(../softimages/BT_bg1.gif);
	font-size: 11px;
	font-weight: bold;
	font-family:Tahoma, Verdana, Arial;
	color: #FFFFFF;
	border:0px;
	margin:0;
	height:20px;
	background-attachment: fixed;
}


.td_bg_1 {background-color:#DBDBDB;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;}
.td_bg_11{background-color:#F3FDFC;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px;padding-left:7px}

.td_bg_selected_4{background-color:#91B1E0;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#ffffff;line-height:18px;padding-left:7px; font-weight:bold}

.td_bg_selected_2{background-color:#D5E1F5;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px; padding-left:7px;}

.td_bg_selected_3{background-color:#E8E8E8;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#000000;line-height:18px; padding-left:7px;}

.td_bg_selected_1{background-color:#2557AD;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#ffffff;line-height:18px;padding-left:7px; font-weight:bold}

.td_bg_selected_11{background-color:#2557AD;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#ffffff;line-height:18px; font-weight:bold}

.td_bg_selected_5{background-color:#6A95D5;font-family: Tahoma, Verdana, Arial, trebuchet MS ; font-size:11px; color:#ffffff;line-height:18px;padding-left:7px; font-weight:bold}

.FooterStyle
{
	color: White;
	text-align:left;
	background-color:#2557AD;
    font-size:8px;
    font-family: Tahoma, Verdana, Arial, trebuchet MS ;
}
.FooterStyle_1
{
	color: White;
	text-align:left;
	background-color:#6794DE;
    font-size:8px;
    font-family: Tahoma, Verdana, Arial, trebuchet MS ;
    font-style:oblique;
	}

.Title21
{
	font-family: Aerial;
	font-size:11px;
	font-weight:bold;
	background-color:#FFFFF3;
	color:#D15800;
	text-align:center;
	vertical-align:top;
	padding-left:10px;
	padding-right:10px;
}


.scroll

{
scrollbar-face-color:#ffffff; 
scrollbar-base-color:#EBF5FF; 
scrollbar-arrow-color:#2557AD; 
scrollbar-track-color:#E3ECF9; 
scrollbar-shadow-color:#BACEEF; 
scrollbar-highlight-color:#EBF5FF; 
scrollbar-3dlight-color:#2558AD; 
scrollbar-darkshadow-Color:#2558AD;
}

  #layer1
  {
	position: absolute;
	float: right;
	left: 725px;
	top: 94px;
	opacity: .8;
	filter: alpha(opacity=80);
  }
